services:
  api:
    build:
      context: ./src/API
      dockerfile: ./Cinemanjaro.Bootstrapper/Dockerfile
    container_name: cinemanjaro_api
    ports: 
      - "8000:80"
    environment:
     ASPNETCORE_ENVIRONMENT: "Development"
     ASPNETCORE_URLS: "http://+:80"
     ConnectionStrings:MongoDb: mongodb://cinemanjaro:passwd23467@db:27017/
  db:
    image: mongo
    ports:
      - "2717:27017"
    container_name: "cinemanjaro_db"
    environment:
     MONGO_INITDB_ROOT_USERNAME: cinemanjaro
     MONGO_INITDB_ROOT_PASSWORD: passwd23467
  app:
    build: 
      context: ./src/APP/cinemanjaro-app
      args:
        API_URL: "http://localhost:8000/api"
    container_name: cinemanjaro_app
    ports:
     - "3000:80"